* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.buttons {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttons,
.content {
    background: #D3D3D3;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.color {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.black {
    background: #000000;
}

.red {
    background: #FF0000;
}

.green {
    background: #00FF00;
}

.blue {
    background: #0000FF;
}

.hidden-input,
.hidden-link {
    display: none;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.canvas {
    background: #FFFFFF;
}

.modal-overflow {
    display: none;
}

.modal-overflow.show {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    margin: 0 auto;
    width: 400px;
    border-radius: 10px;
    background: #FFFFFF;
    padding: 30px;
}

.new-modal,
.save-modal {
    display: none;
}

.modal-overflow[data='new-modal'] .new-modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-overflow[data='save-modal'] .save-modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons-modal {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    width: 100%;
}
